---
layout: default
title: "Gangneung Style (강릉 스타일)"
---
  {% for post in site.posts %}

    {% if page.lang %}
      {% if post.lang contains page.lang %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{ post.date | date_to_string }}<a href="{{ post.url }}">{{ post.title }}</a></h2>
      </div>
      {% endif %}

    {% else %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{ post.date | date_to_string }}<a href="{{ post.url }}">{{ post.title }}</a></h2>
      </div>
    {% endif %}

  {% endfor %}

